---
version: "2.1"
services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
#    network_mode: host
    ports:
      - "32402:32400"
    environment:
      - PUID=1000
      - PGID=1001
      - TZ=America/Boise
      - VERSION=docker
    volumes:
      - D:\plex-config:/config
      - D:\plex-media:/plex-media
    restart: unless-stopped
  tautulli:
    image: ghcr.io/tautulli/tautulli
    container_name: tautulli
    restart: unless-stopped
    volumes:
      - D:\plex-config\tautilli:/config
    environment:
      - PUID=1000
      - PGID=1001
      - TZ=America/Boise
    ports:
      - 8183:8181
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1001
      - TZ=America/Boise
      - WEBUI_PORT=8080
    volumes:
      - D:\plex-config\qbittorrent:/config
      - D:\plex-media\downloads:/downloads
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1001
      - TZ=America/Boise
    volumes:
      - D:\plex-config\sonarr:/config
      - D:\plex-media:/tv #optional
      - D:\plex-media\downloads:/downloads #optional
    ports:
      - 8989:8989
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1001
      - TZ=America/Boise
    volumes:
      - D:\plex-config\radarr:/config
      - D:\plex-media:/movies #optional
      - D:\plex-media\downloads:/downloads #optional
    ports:
      - 7878:7878
    restart: unless-stopped
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=1000
      - PGID=1001
      - TZ=America/Boise
    volumes:
      - D:\plex-config\overseerr:/config
    ports:
      - 5055:5055
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1001
      - TZ=America/Boise
    volumes:
      - D:\plex-config\prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
  filterapp:
    image: madmandrew/filterapp:latest
    container_name: filterapp
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1001
      - REACT_APP_SERVER_URL=http://192.168.50.38:8000/
    volumes:
      - D:\plex-media:/plex-media
    ports:
      - 8000:8000
      - 3000:3000
